@media (max-width: 1px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
    position: static;
  }
  .open .dropdown-menu {
    display: block;
  }
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}
@media (max-width: 1px) {
  .logo-control .logo-img-sm {
    display: block;
  }
  .logo-control .logo-img {
    display: none;
  }
}
@media (min-width: 2px) {
  .logo-control .logo-img-sm {
    display: none;
  }
  .logo-control .logo-img {
    display: block;
  }
}
#community-wrap .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}
.body-data-holder:before {
  display: none;
  content: "grid-float-breakpoint:2px screen-xs:1px screen-sm:2px screen-md:3px screen-lg:9999px";
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-image: -webkit-radial-gradient(circle, #3f91cd, #0e314b);
  background-image: radial-gradient(circle, #3f91cd, #0e314b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 0 !important;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #d9d9d9;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
th,
td {
  line-height: 1.42857143;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
}
td,
tr td {
  border-top: 1px solid #2c3e50;
}
.table {
  border: none;
}
.table thead > tr > th {
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  border-color: #e6e6e6;
  border-bottom-width: 3px;
}
.table thead > tr > th a {
  color: #ffffff;
}
.table thead > tr > th a:hover,
.table thead > tr > th a:focus,
.table thead > tr > th a:active {
  color: #ffffff;
}
.table tbody {
  border-width: 1px;
}
.dataTables_scrollBody thead > tr > th {
  border-bottom: none;
}
.table-condensed thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.table-bordered > thead > tr:last-child > th,
.table-bordered > thead > tr:last-child > td {
  border-bottom-width: 2px;
}
.table > tbody > tr.odd > td,
.table > tbody > tr.odd > th {
  background-color: rgba(44, 62, 80, 0.4);
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: rgba(44, 62, 80, 0.5);
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: rgba(44, 62, 80, 0.4);
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
.star {
  color: #f1c40f;
}
.red {
  color: #c0392b;
}
hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.wrap {
  width: auto;
  clear: both;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 18px;
  margin-bottom: 9px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 9px;
  margin-bottom: 9px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 33px;
}
h2,
.h2 {
  font-size: 27px;
}
h3,
.h3 {
  font-size: 23px;
}
h4,
.h4 {
  font-size: 17px;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 9px;
}
.lead {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 2px) {
  .lead {
    font-size: 19.5px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #2c3e50;
}
a.text-primary:hover {
  color: #1a242f;
}
.text-success {
  color: #468847;
}
a.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover {
  color: #2d6987;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
a.text-danger:hover {
  color: #953b39;
}
.bg-primary {
  color: #fff;
  background-color: #2c3e50;
}
a.bg-primary:hover {
  background-color: #1a242f;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
.page-header {
  padding-bottom: 8px;
  margin: 36px 0 18px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 9px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
}
.list-unstyled > li {
  list-style: none !important;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
}
.list-inline > li {
  list-style: none !important;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 18px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 2px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 9px 18px;
  margin: 0 0 18px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 18px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.btn-actions {
  text-align: center;
}
.features-list {
  margin-top: 30px;
  
}
.features-list .page-header {
  border: 0;
  text-align: center;
}
.features-list .page-header h1 {
  font-size: 45px;
}
.features-list .feature-row {
  overflow: hidden;
  min-height: 200px;
  color: #696f72;
  border-top: 1px solid #e0e2e3;
  padding: 30px 0 0;
  text-align: center;
}
.features-list .feature-row:last-child {
  border-bottom: 1px solid #e0e2e3;
  margin-bottom: 30px;
}
.features-list .feature-row h3 {
  font-size: 26px;
}
.features-list .feature-row div:first-child {
  padding-left: 0;
}
.features-list .feature-row div:last-child {
  padding-right: 0;
}
.features-list .feature-row div:first-child.feature-img img {
  float: left;
}
.features-list .feature-row div:last-child.feature-img img {
  float: right;
}
.jumbotron h2 {
  font-size: 45px;
}
.jumbotron iframe {
  margin-top: 10px;
}

legend {
  color: #ffffff;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 10px;
}
.radio,
.checkbox {
  padding-left: 20px;
}
.radio label,
.checkbox label {
  display: inline;
}
.form-control-static {
  margin-bottom: 0;
}
@media (min-width: 2px) {
  .form-inline .form-group {
    display: inline-block;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
.btn:hover,
.btn:focus {
  color: #d9d9d9;
}
.btn-default:hover,
.btn-default:focus {
  color: #333333;
}
.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #262626;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #080808;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #333333;
  border-color: #262626;
}
.btn-inverse .badge {
  color: #333333;
  background-color: #ffffff;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: #999999;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto;
}
@media screen and (min-width: 2px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .inputbox {
    width: auto;
  }
}
select,
select.form-control,
select.inputbox,
select.input {
  padding-right: 5px;
}
.form-actions {
  background: rgba(44, 62, 80, 0.5);
  border: 1px solid #2c3e50;
}
.input-append .active,
.input-prepend .active {
  background-color: #89e5b0;
  border-color: #27ae60;
}
.invalid {
  border-color: #c0392b;
}
label.invalid {
  color: #c0392b;
}
input.invalid {
  border: 1px solid #c0392b;
}

.caret {
  display: none !important;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 13px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-left-color: #333333;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #262626;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 18px;
}
@media (min-width: 2px) {
  .nav > li > .separator {
    padding-top: 28.5px;
    padding-bottom: 28.5px;
  }
}
@media (max-width: 2px) {
  .nav > li > span {
    padding: 10px 15px;
    display: inline-block;
  }
}
.nav-tabs > li > a:hover {
  background: none;
}
.nav .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav a:hover .caret {
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}
.t3-navhelper {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  color: #555555;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb > .active + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > .active .hasTooltip {
  padding-right: 5px;
}
.breadcrumb .divider {
  display: none;
}
.pagination > li > a,
.pagination > li > span {
  background: rgba(44, 62, 80, 0.4);
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #2980b9;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #ffffff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background: rgba(44, 62, 80, 0.4);
  color: #8aa4be;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 2px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 18px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
}
@media screen and (min-width: 2px) {
  .counter {
    float: right;
  }
}
.tab-content > .tab-pane {
  width: 100%;
  height: 0;
  display: block;
  visibility: hidden;
}
.tab-content > .tab-pane.active {
  width: 100%;
  height: 100%;
  visibility: visible;
}

.navbar-toggle {
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: 5px;
}
@media (min-width: 2px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 14.25px -5px;
}
.navbar-nav > li > a,
.navbar-nav > li > .separator {
  font-family: "RobotoCondensed", sans-serif;
  padding: 10px 20px;
  line-height: 55px;
}
@media (min-width: 2px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
  border-top: none;
}
.navbar-nav > li > .dropdown-menu:after {
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 20px;
  position: absolute;
  top: -5px;
}
.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #2c3e50;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1a242f;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #222222;
}
.navbar-default .navbar-nav {
  margin-bottom: -8px;
}
.navbar-default .navbar-nav > li > a {
  color: #2c3e50;
  text-transform: uppercase;
  border-bottom: 8px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d35400 !important;
  background-color: transparent;
  border-color: #d35400;
}
.navbar-default .navbar-nav > li > .nav-header {
  color: #2c3e50;
  display: inline-block;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #5cb85c !important;
  background-color: #eeeeee !important;
  border-color: #5cb85c !important;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #d35400;
  border-bottom-color: #d35400;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #d35400;
  border-color: #d35400;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #d35400;
  border-bottom-color: #d35400;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #2c3e50;
  border-bottom-color: #2c3e50;
}
@media (max-width: 1px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2c3e50;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d35400;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5cb85c;
    background-color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #2c3e50;
}
.navbar-default .navbar-link:hover {
  color: #d35400;
}
.t3-mainnav {
  border-bottom: 8px solid #2c3e50;
  margin-bottom: 0;
}
.t3-mainnav > .container {
  position: relative;
  
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 2px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #ffffff;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  right: 12px;
}

.t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 10px;
}
@media screen and (min-width: 2px) {
  .t3-module {
    margin-bottom: 10px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: transparent;
  color: inherit;
  margin: 0 0 9px 0;
  padding: 0;
}
@media screen and (min-width: 2px) {
  .module-title {
    margin-bottom: 18px;
  }
}
.module-ct {
  background: transparent;
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 6px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 18px;
  padding-left: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
  color: #000000;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 11px;
  padding-top: 5px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 9px 0;
  border-top: 1px solid #eeeeee;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #555555;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tagspopular ul > li > a {
  background: #eeeeee;
  border-radius: 3px;
  color: #555555;
  display: block;
  padding: 2px 5px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #d9d9d9;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #555555;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #d9d9d9;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-left: 0;
}
.mod_gtpihps_map {
  margin-bottom: -10px;
  min-height: 520px;
}
.mod_gtpihps_map #report-map {
  padding-bottom: 10px;
}
.mod_gtpihps_map .form-vertical {
  margin: 10px 10px 10px 0;
}
.mod_gtpihps_map #mapForm {
  margin: 0;
}
.mod_gtpihps_map #mapForm .row-fluid {
  background-color: rgba(44, 62, 80, 0.4);
  border: 1px solid #2c3e50;
  padding: 10px;
}
.mod_gtpihps_map #mapForm .row-fluid:before,
.mod_gtpihps_map #mapForm .row-fluid:after {
  content: " ";
  display: table;
}
.mod_gtpihps_map #mapForm .row-fluid:after {
  clear: both;
}
.mod_gtpihps_map .map-meta {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.mod_gtpihps_map .map-meta h4 {
  font-size: 1.7em;
  line-height: 0.5em;
}
.mod_gtpihps_map .map-meta h5 {
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
}
.mod_gtpihps_map h3 {
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-family: "RobotoCondensed", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 1.7em;
  line-height: 1em;
}
.mod_gtpihps_map .data-display {
  overflow: hidden;
}
.mod_gtpihps_map .mapTooltip {
  position: absolute;
  background-color: #000;
  moz-opacity: 0.70;
  opacity: 0.70;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  display: none;
  color: #fff;
  text-align: center;
  font-size: 10pt;
  white-space: nowrap;
}
.mod_gtpihps_map .map {
  -webkit-backface-visibility: hidden;
}
.mod_gtpihps_map .table-container {
  opacity: 0;
  padding: 15px;
}
.mod_gtpihps_map .dataTable {
  margin: 0 !important;
}
.mod_gtpihps_map .dataTable th {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center !important;
}
.mod_gtpihps_map .dataTable thead th.sorting::after {
  display: none;
}
.mod_gtpihps_map .chart-container {
  position: relative;
  margin: 15px;
}
.mod_gtpihps_map .chart-container > div {
  width: 100%;
  height: 300px;
}
.mod_gtpihps_map .chart-container h5 {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}
.mod_gtpihps_map .chart-container div.xAxis div.tickLabel {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  
  -moz-transform: rotate(90deg);
  
  -webkit-transform: rotate(90deg);
  
  -o-transform: rotate(90deg);
  
  
  
  
  
  top: 290px !important;
}
.mod_gtpihps_map .map-container {
  position: relative;
  z-index: 800;
  top: -2px;
}
.mod_gtpihps_map .btn-block {
  margin-top: 12px;
}
.mod_gtpihps_map .nav-tabs {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 801;
  margin-top: 15px;
}
.mod_gtpihps_map .nav-tabs li {
  float: right;
}
.mod_gtpihps_map .nav-tabs li a {
  border: none !important;
}
.mod_gtpihps_quickpricefind {
  color: #ffffff;
  background-color: #2c3e50;
  padding: 10px;
}
.mod_gtpihps_quickpricefind h3 {
  background: url('../../images/modules/icon_search.png') no-repeat left top;
  padding-left: 35px;
  padding-bottom: 10px;
  margin: 0 0 7px;
  font-weight: bold;
  font-family: "RobotoCondensed", sans-serif;
  border-bottom: 1px solid #ffffff;
}
.mod_gtpihps_quickpricefind #filter_qp_commodity_ids {
  height: 214px;
}
.mod_gtpihps_table {
  background-color: #eeeeee;
  padding: 10px;
}
.mod_gtpihps_table .wrapper {
  height: 347px;
  overflow: hidden;
  margin-bottom: 10px;
}
.mod_gtpihps_table h3 {
  background: url('../../images/modules/icon_statistic_dark.png') no-repeat left top;
  padding-left: 35px;
  padding-bottom: 8px;
  color: #2c3e50;
  margin: 0;
  font-weight: bold;
  font-family: "RobotoCondensed", sans-serif;
}
.mod_gtpihps_table h3 small {
  color: #2c3e50;
}
.mod_gtpihps_table table {
  background-color: #ffffff;
  border-color: #ffffff !important;
  margin-bottom: 0;
}
.mod_gtpihps_table table th,
.mod_gtpihps_table table td {
  border-color: #ffffff !important;
  background-color: #eeeeee;
}
.mod_gtpihps_table table tr:nth-child(2n+1) > td {
  background-color: #d5d5d5;
}
.mod_gtpihps_table table th {
  height: 46px;
  vertical-align: middle !important;
  text-align: center;
  color: #ffffff;
  background-color: #2c3e50;
  border-bottom-width: 1px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.mod_gtpihps_table table th > span {
  overflow: hidden;
  max-height: 35px;
  display: block;
}
.mod_gtpihps_table table td {
  height: 30px;
  vertical-align: middle;
}
.mod_gtpihps_table table td.rank {
  color: #ffffff;
  font-weight: bold;
}
.mod_gtpihps_table table td.rank1 {
  background-color: #27ae60 !important;
}
.mod_gtpihps_table table td.rank2 {
  background-color: #59b44c !important;
}
.mod_gtpihps_table table td.rank3 {
  background-color: #8cb938 !important;
}
.mod_gtpihps_table table td.rank4 {
  background-color: #bebe23 !important;
}
.mod_gtpihps_table table td.rank5 {
  background-color: #f1c40f !important;
}
.mod_gtpihps_table table td.rank6 {
  background-color: #e5a116 !important;
}
.mod_gtpihps_table table td.rank7 {
  background-color: #d87f1d !important;
}
.mod_gtpihps_table table td.rank8 {
  background-color: #cc5c24 !important;
}
.mod_gtpihps_table table td.rank9 {
  background-color: #c0392b !important;
}
.contact-module {
  background-color: #2980b9;
  padding: 16px 20px;
}
.contact-module h3 {
  color: #ffffff;
  margin: 0 0 10px;
  font-weight: bold;
  font-family: "RobotoCondensed", sans-serif;
}
.contact-module ul {
  list-style: outside none none;
  margin-left: 0;
  padding: 0;
  color: #ffffff;
}
.contact-module ul a {
  color: #ffffff;
}
.contact-module ul li {
  padding: 0;
  line-height: 18px !important;
}
.contact-module ul.contact > li {
  padding: 2px 0 !important;
  padding-left: 35px !important;
  margin-bottom: 5px;
}
.contact-module .address {
  background: url('../../images/modules/contact/address.png') no-repeat left center;
}
.contact-module .phone {
  background: url('../../images/modules/contact/phone.png') no-repeat left center;
}
.contact-module .web {
  background: url('../../images/modules/contact/web.png') no-repeat left center;
}
.bannergroup.metro {
  cursor: pointer;
  margin: 0 0 -5px;
  display: table;
}
.bannergroup.metro:before,
.bannergroup.metro:after {
  content: " ";
  display: table;
}
.bannergroup.metro:after {
  clear: both;
}
.bannergroup.metro .banneritem {
  overflow: hidden;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 0 5px;
  background-color: #d5d5d5;
}
.bannergroup.metro .banneritem a {
  padding: 25px 0;
}
.bannergroup.metro .banneritem:hover {
  background-color: #c8c8c8;
}
.bannergroup.metro .banneritem .bannerimg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.bannergroup.metro .banneritem .bannercontainer {
  text-decoration: none;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: normal;
  display: block;
}
.bannergroup.metro .banneritem .bannermeta {
  display: inline-block;
  vertical-align: middle;
  
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-delay: ease-in-out;
  transition-delay: ease-in-out;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-transform: uppercase;
  line-height: 1.2em;
  max-width: 80%;
}
.t3-module.partners .banneritem:nth-child(3) .bannertitle {
  display: none;
}
.t3-module.partners .banneritem:nth-child(1),
.t3-module.partners .banneritem:nth-child(2) {
  width: 49%;
}
.t3-module.partners .banneritem:nth-child(1) .bannerimg,
.t3-module.partners .banneritem:nth-child(2) .bannerimg {
  margin: 0 0 5px;
}
.t3-module.partners .banneritem:nth-child(1) a,
.t3-module.partners .banneritem:nth-child(2) a {
  padding: 15px 0;
}
.t3-module.partners .banneritem:nth-child(2) {
  float: right;
}
#login-form .login-greeting {
  margin-bottom: 5px;
}
.mod_gtpihps_prices.pricelist h3 {
  text-align: center;
  font-weight: bold;
}
.mod_gtpihps_prices.pricelist h3 small,
.mod_gtpihps_prices.pricelist h3 select,
.mod_gtpihps_prices.pricelist h3 span {
  display: inline-block;
  vertical-align: middle;
}
.mod_gtpihps_prices.pricelist h3 select {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.mod_gtpihps_prices.pricelist h3 small {
  color: #ffffff;
}
.mod_gtpihps_prices.pricelist h3 small {
  margin-left: 5px;
}
.mod_gtpihps_prices.pricelist ul {
  display: block;
  margin: -2.5px -2.5px 0 !important;
  height: 370px;
  overflow: hidden;
  padding: 0;
}
.mod_gtpihps_prices.pricelist ul li {
  background-color: rgba(44, 62, 80, 0.4);
  display: block;
  width: 277.25px;
  float: left;
  margin: 2.5px;
  height: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 10px 25px;
  overflow: hidden;
}
.mod_gtpihps_prices.pricelist ul li > div {
  color: #ffffff;
}
.mod_gtpihps_prices.pricelist ul li > a:hover {
  text-decoration: none;
}
.mod_gtpihps_prices.pricelist ul li > a:hover .title {
  background-color: rgba(44, 62, 80, 0.5);
}
.mod_gtpihps_prices.pricelist ul li .ico,
.mod_gtpihps_prices.pricelist ul li .desc {
  display: inline-block;
  vertical-align: top;
}
.mod_gtpihps_prices.pricelist ul li .ico {
  background: url('../../images/modules/price_still.png') no-repeat center;
  margin: 5px 0;
  margin-right: 5px;
  text-align: center;
}
.mod_gtpihps_prices.pricelist ul li .desc {
  line-height: 1.7em;
  float: right;
  text-align: right;
  padding: 10px;
}
.mod_gtpihps_prices.pricelist ul li .spark {
  position: absolute;
  margin: 15px;
}
.mod_gtpihps_prices.pricelist ul li .title {
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  background-color: #2c3e50;
  margin: 3px;
  padding: 3px;
}
.mod_gtpihps_prices.pricelist ul li .price_now {
  font-size: 27px;
  font-weight: bold;
}
.mod_gtpihps_prices.pricelist ul li .price_now div {
  font-weight: normal;
  font-size: 0.5em;
  text-transform: uppercase;
}
.mod_gtpihps_prices.pricelist ul li .diff_perc,
.mod_gtpihps_prices.pricelist ul li .diff {
  display: none;
  line-height: 1.2em;
}
.mod_gtpihps_prices.pricelist ul li .price_desc {
  padding: 0 10px;
  margin-top: 5px;
  margin-right: -10px;
  color: #ffffff !important;
  width: auto;
  text-align: right;
  display: inline-block;
  font-size: 12px;
  z-index: 999;
  position: relative;
}
.mod_gtpihps_prices.pricelist ul li .price_desc.price_down {
  background: #27ae60 !important;
}
.mod_gtpihps_prices.pricelist ul li .price_desc.price_up {
  background: #c0392b !important;
}
.mod_gtpihps_prices.pricelist ul li .price_desc.price_still {
  background: #2980b9 !important;
}
.mod_gtpihps_prices.pricelist ul li .price_desc.price_unknown {
  background: #eeeeee !important;
  color: #000000 !important;
}
.mod_gtpihps_prices.pricelist ul li.price_up {
  background-color: #c0392b;
}
.mod_gtpihps_prices.pricelist ul li.price_up .ico {
  background: url('../../images/modules/price_up.png') no-repeat center top;
}
.mod_gtpihps_prices.pricelist ul li.price_up .diff_perc,
.mod_gtpihps_prices.pricelist ul li.price_up .diff {
  display: block;
}
.mod_gtpihps_prices.pricelist ul li.price_up .diff_perc {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.mod_gtpihps_prices.pricelist ul li.price_down {
  background-color: #27ae60;
}
.mod_gtpihps_prices.pricelist ul li.price_down .ico {
  background: url('../../images/modules/price_down.png') no-repeat center bottom;
}
.mod_gtpihps_prices.pricelist ul li.price_down .diff_perc,
.mod_gtpihps_prices.pricelist ul li.price_down .diff {
  display: block;
}
.mod_gtpihps_prices.pricelist ul li.price_down .diff_perc {
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
  font-family: "RobotoCondensed", sans-serif !important;
}

.items-leading .leading {
  margin-bottom: 20px;
}
.items-row .item {
  margin-bottom: 20px;
}
.divider-vertical {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.article-aside {
  color: #999999;
  font-size: 12px;
  margin-bottom: 10px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: bold;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 10px;
}
.article-intro img,
.article-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
.article-intro img[align=left],
.article-content img[align=left],
.article-intro .img_caption.left,
.article-content .img_caption.left,
.article-intro .pull-left.item-image,
.article-content .pull-left.item-image {
  margin: 0 15px 10px 0;
}
.article-intro img[align=right],
.article-content img[align=right],
.article-intro .img_caption.right,
.article-content .img_caption.right,
.article-intro .pull-right.item-image,
.article-content .pull-right.item-image {
  margin: 0 0 10px 15px;
}
@media (max-width: 2px) {
  .article-content iframe {
    width: 100% !important;
    height: auto;
  }
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 10px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 10px;
}
.img-fulltext-right {
  float: right;
  margin-left: 10px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #555555;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
@media screen and (max-width: 1px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-left: 2px;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #2c3e50;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: rgba(44, 62, 80, 0.4);
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #2c3e50;
  margin-left: 0;
  padding-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #2c3e50;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: rgba(44, 62, 80, 0.4);
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: rgba(44, 62, 80, 0.5);
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #2c3e50;
}
.login-wrap .other-links ul {
  padding-left: 5px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 5px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 0;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 2px) {
  .profile-edit input {
    float: left;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 2px) {
  .profile-edit select {
    float: left;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-left: 5px;
}
#searchForm:before,
#searchForm:after {
  content: " ";
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 10px 0;
}
#searchForm legend {
  margin-bottom: 5px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
}
#searchForm .form-limit {
  margin-top: 18px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
}
#search-form ul#finder-filter-select-list {
  margin-left: 0;
  padding-left: 0;
}
#search-form ul#finder-filter-select-list li {
  list-style: none;
  padding: 5px 0;
}
#search-form ul#finder-filter-select-list li label {
  width: 150px;
}
#search-form .word .form-group {
  margin-bottom: 5px;
}
@media screen and (max-width: 2px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
.search-results {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}
.search-results .result-title {
  font-size: 15px;
  margin-top: 10px;
}
.search-results .result-category {
  font-size: 11px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-url {
  color: #555555;
  margin-top: 18px;
}
.search-results .result-created {
  font-size: 11px;
  color: #999999;
}
div.finder {
  margin-bottom: 18px;
}
#searchForm .phrases-box input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
}
@media (max-width: 2px) {
  .contact .thumbnail {
    width: 100%;
  }
}
@media (max-width: 2px) {
  .contact .dl-horizontal > dt {
    float: left;
    margin-right: 5px;
    width: auto;
  }
}
@media (max-width: 2px) {
  .contact .dl-horizontal > dd {
    margin-left: 0;
  }
}
.contact-form #jform_contact_emailmsg {
  width: 100%;
}
.contact-form #jform_contact_message {
  width: 100%;
  height: auto;
}
@media (max-width: 2px) {
  .contact-form #jform_captcha-lbl {
    display: none;
  }
  .contact-form #recaptcha_image {
    width: 220px;
  }
  .contact-form #recaptcha_image img {
    max-width: 220px;
  }
  .contact-form #recaptcha_response_field {
    max-width: 220px;
  }
}
.contact .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 18px;
}
.category-item:before,
.category-item:after {
  content: " ";
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 9px 5px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-left: 10px;
}
.category-item .category-item .page-header {
  font-size: 13px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 9px 5px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 10px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  content: " ";
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 10px;
  font-size: 15px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 13px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 15px;
}
.article-content .pagination ul {
  display: block;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.article-content .pagination ul li {
  border: 1px solid #eeeeee;
  float: left;
  line-height: normal;
  margin-right: 5px;
  padding: 5px 10px;
}
.article-content .pagination ul li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 10px;
  font-weight: bold;
}
#article-index,
.article-index {
  border: 1px solid #eeeeee;
  border-radius: 0;
  float: right;
  padding: 10px;
  margin: 0 0 10px 10px;
  width: 25%;
}
#article-index ul,
.article-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 0;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #2c3e50;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #2c3e50;
  color: #ffffff;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav > li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav > li.pagenav-prev,
.pagenav > li.previous {
  margin-right: 10px;
}
.pagenav li > a {
  padding: 5px 10px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 0;
}
.pagenav li > a:hover,
.pagenav li > a:active,
.pagenav li > a:focus {
  background-color: #eeeeee;
}
.items-more h3 {
  margin: 0 0 10px;
}
.items-more .nav > li {
  border-top: 1px solid #eeeeee;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 5px 0;
}
.display-limit {
  margin: 5px 0 5px;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 13px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
@media (min-width: 2px) {
  .languageswitcherload {
    float: right;
    width: 100%;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
}
div.calendar {
  width: 187px;
}
.edit.item-page fieldset .btn-toolbar {
  margin-top: 5px;
}
.chzn-container-multi .chzn-choices li.search-field input[type="text"] {
  height: auto;
}
.iframe-bordered {
  border: 1px solid #2c3e50;
}
.chzn-container {
  display: block;
}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-single .chzn-search input {
  height: 26px;
}
.chzn-container-single .chzn-drop,
.chzn-container .chzn-drop {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #cccccc;
  height: 26px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #cccccc;
}
.btn-group .chzn-results {
  white-space: normal;
}

.page-header {
  padding-bottom: 8px;
  margin: 0 0 18px;
  border-bottom: 1px solid #eeeeee;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 18px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -18px;
}
.article-title,
.article-header h1 {
  margin: 0 0 18px 0;
}
.item-title {
  font-weight: bold;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 0;
}
.masthead {
  padding: 20px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 2px) {
  .masthead {
    padding: 40px 0;
  }
  .masthead h1 {
    font-size: 91px;
  }
  .masthead p {
    font-size: 26px;
  }
  .masthead .btn-lg {
    margin-top: 18px;
    padding: 18px 42px;
    font-size: 19.5px;
  }
}
.jumbotron-primary {
  background-color: #2c3e50;
  color: #aabdd1;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffffff;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #8aa4be;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.modal-content {
  color: #222222;
}
.modal-content table thead th {
  background-color: #2c3e50;
  color: #ffffff;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header .close {
  color: #ffffff;
}
@media screen and (min-width: 2px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
#com_gtpihps .form-filter {
  padding: 10px;
  background-color: rgba(44, 62, 80, 0.4);
  border: 1px solid #2c3e50;
  margin-right: 10px;
}
#com_gtpihps .table .currency,
#com_gtpihps .table .btn {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
#com_gtpihps .table .currency {
  text-align: right;
}
.com_gtpihps.view-widget .window-mainbody {
  padding: 0;
}
#com_gtpihps.widget h3,
#com_gtpihps.widget footer {
  width: 100%;
  max-width: 500px;
  padding: 5px 0;
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
}
#com_gtpihps.widget h3 span,
#com_gtpihps.widget footer span {
  white-space: nowrap;
}
#com_gtpihps.widget h3 small,
#com_gtpihps.widget footer small {
  margin-top: 5px;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
}
#com_gtpihps.widget .table {
  margin-bottom: 0;
  max-width: 500px;
  border-collapse: inherit;
}
#com_gtpihps.widget .table .price {
  max-width: 100px;
  white-space: nowrap;
}
#com_gtpihps.widget .table .denom {
  padding-left: 0;
  max-width: 35px;
  white-space: nowrap;
}
#com_gtpihps.widget .table .flucs {
  max-width: 70px;
}
#com_gtpihps.widget .table .status {
  max-width: 30px;
}
#com_gtpihps.widget .table .category td {
  background-color: rgba(44, 62, 80, 0.5);
}
#com_gtpihps.widget footer {
  background: #2980b9;
  bottom: 0;
  padding: 5px;
  top: auto;
  text-align: left;
}
#com_gtpihps.widget footer a span,
#com_gtpihps.widget footer a img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
@media screen and (max-width: 350px) {
  #com_gtpihps.widget .table .flucs {
    display: none;
  }
  #com_gtpihps.widget h3 span {
    text-transform: uppercase;
    font-size: 0.8em;
  }
  #com_gtpihps.widget footer a span {
    display: none;
  }
}
#com_gtpihps .pricelist h3 {
  text-align: center;
  font-weight: bold;
}
#com_gtpihps .pricelist h3 small,
#com_gtpihps .pricelist h3 select,
#com_gtpihps .pricelist h3 span {
  display: inline-block;
  vertical-align: middle;
}
#com_gtpihps .pricelist h3 select {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
}
#com_gtpihps .pricelist h3 small {
  color: #ffffff;
}
#com_gtpihps .pricelist h3 small {
  margin-left: 5px;
}
#com_gtpihps .pricelist ul {
  display: block;
  margin: -2.5px -2.5px 0 !important;
  float: left;
  padding: 0;
  overflow: hidden;
}
#com_gtpihps .pricelist ul li {
  background-color: rgba(44, 62, 80, 0.4);
  display: block;
  width: 277.25px;
  float: left;
  margin: 2.5px;
  height: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 10px 25px;
  overflow: hidden;
}
#com_gtpihps .pricelist ul li > div {
  color: #ffffff;
}
#com_gtpihps .pricelist ul li > a:hover {
  text-decoration: none;
}
#com_gtpihps .pricelist ul li > a:hover .title {
  background-color: rgba(44, 62, 80, 0.5);
}
#com_gtpihps .pricelist ul li .ico,
#com_gtpihps .pricelist ul li .desc {
  display: inline-block;
  vertical-align: top;
}
#com_gtpihps .pricelist ul li .ico {
  background: url('../../images/modules/price_still.png') no-repeat center;
  margin: 5px 0;
  margin-right: 5px;
  text-align: center;
}
#com_gtpihps .pricelist ul li .desc {
  line-height: 1.7em;
  float: right;
  text-align: right;
  padding: 10px;
}
#com_gtpihps .pricelist ul li .spark {
  position: absolute;
  margin: 15px;
}
#com_gtpihps .pricelist ul li .title {
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  background-color: #2c3e50;
  margin: 3px;
  padding: 3px;
}
#com_gtpihps .pricelist ul li .price_now {
  font-size: 27px;
  font-weight: bold;
}
#com_gtpihps .pricelist ul li .price_now div {
  font-weight: normal;
  font-size: 0.5em;
  text-transform: uppercase;
}
#com_gtpihps .pricelist ul li .diff_perc,
#com_gtpihps .pricelist ul li .diff {
  display: none;
  line-height: 1.2em;
}
#com_gtpihps .pricelist ul li .price_desc {
  padding: 0 10px;
  margin-top: 5px;
  margin-right: -10px;
  color: #ffffff !important;
  width: auto;
  text-align: right;
  display: inline-block;
}
#com_gtpihps .pricelist ul li .price_desc.price_down {
  background: #27ae60 !important;
}
#com_gtpihps .pricelist ul li .price_desc.price_up {
  background: #c0392b !important;
}
#com_gtpihps .pricelist ul li .price_desc.price_still {
  background: #2980b9 !important;
}
#com_gtpihps .pricelist ul li.price_up {
  background-color: #c0392b;
}
#com_gtpihps .pricelist ul li.price_up .ico {
  background: url('../../images/modules/price_up.png') no-repeat center top;
}
#com_gtpihps .pricelist ul li.price_up .diff_perc,
#com_gtpihps .pricelist ul li.price_up .diff {
  display: block;
}
#com_gtpihps .pricelist ul li.price_up .diff_perc {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
#com_gtpihps .pricelist ul li.price_down {
  background-color: #27ae60;
}
#com_gtpihps .pricelist ul li.price_down .ico {
  background: url('../../images/modules/price_down.png') no-repeat center bottom;
}
#com_gtpihps .pricelist ul li.price_down .diff_perc,
#com_gtpihps .pricelist ul li.price_down .diff {
  display: block;
}
#com_gtpihps .pricelist ul li.price_down .diff_perc {
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
}
table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.flot-text {
  color: #ffffff !important;
}

.t3-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 45px;
}
.t3-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  display: inline-block;
  background-color: #ffffff;
  padding: 10px 15px;
  height: 75px;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 2px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-image img {
  display: inline-block;
  height: 45px;
}
.logo-image .site-slogan {
  border-left: 2px solid #999999;
  color: #555555;
  display: inline-block;
  text-transform: uppercase;
  width: 150px;
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 13px;
}
.logo-text a {
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.head-search {
  margin-top: 10px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 2px) {
  .head-search .search {
    float: right;
  }
}
.head-search .form-control {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 2px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.t3-sl {
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 2px) {
  .t3-sl {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.t3-sl .row:last-child .t3-module:last-child {
  margin-bottom: 0;
}
.t3-mainbody {
  padding-top: 18px;
  padding-bottom: 18px;
}
.t3-content {
  padding: 0;
}
.t3-sidebar {
  padding-top: 18px;
  padding-bottom: 18px;
}
.t3-footer {
  
  background: #2c3e50;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footnav {
  padding: 10px 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 2px) {
  .t3-footnav {
    padding: 20px 0;
  }
}
.t3-footnav .t3-module {
  background: #2c3e50;
  color: #ffffff;
  margin-top: 9px;
  margin-bottom: 9px;
}
.t3-footnav .t3-module .module-title {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 9px;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
  color: #ffffff;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #ffffff;
}
.t3-copyright {
  
  font-size: 12px;
  padding: 5px 0 5px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  text-align: center;
}
.copyright .poweredby,
.copyright .module {
  display: inline-block;
  margin: 5px 5px;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 2px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.js-calendar {
  color: #222222 !important;
}
.js-calendar a {
  color: #222222 !important;
}
.input-group > input {
  width: 100% !important;
}

.home #t3-mainbody {
  display: none;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.calendar-container {
  min-width: 262px !important;
}
.datepicker {
  color: #000000;
}
@-moz-document url-prefix() {
  .popover.top > .arrow {
    bottom: -10px;
  }
  .popover.bottom > .arrow {
    top: -10px;
  }
  .popover.right > .arrow {
    left: -10px;
  }
  .popover.right > .arrow {
    right: -10px;
  }
  .tooltip.top .tooltip-arrow,
  .tooltip.top-left .tooltip-arrow,
  .tooltip.top-right .tooltip-arrow {
    bottom: 1px;
  }
  .tooltip.right .tooltip-arrow {
    left: 1px;
  }
  .tooltip.left .tooltip-arrow {
    right: 1px;
  }
  .tooltip.bottom .tooltip-arrow,
  .tooltip.bottom-left .tooltip-arrow,
  .tooltip.bottom-right .tooltip-arrow {
    top: 1px;
  }
}
.blockMsg {
  background: transparent !important;
  color: #ffffff !important;
  font-size: 33px !important;
  font-family: "RobotoCondensed", sans-serif !important;
  border: none !important;
}
.blockUI {
  z-index: 999 !important;
}